<?xml version="1.0"?>
<!-- Increase product version each release.. and that's the only change -->
<?define ProductVersion="3.0.11.0"?>
<?define ProductUpgradeCode="77851f13-31d3-473a-8654-5b6325fc53ab"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Terrafirma" Language="1033" Version="$(var.ProductVersion)" Manufacturer="Sean Kasun" UpgradeCode="$(var.ProductUpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" />
    <Media Id="1" Cabinet="terrafirma.cab" EmbedCab="yes" CompressionLevel="high" />

    <Icon Id="ProductIcon" SourceFile="terrafirma.ico" />
    <Property Id="ARPPRODUCTICON" Value="ProductIcon" />
    <Property Id="ARPHELPLINK" Value="http://seancode.com/terrafirma" />
    <Property Id="ARPURLINFOABOUT" Value="http://seancode.com" />
    <Property Id="ARPNOREPAIR" Value="1" />

    <Upgrade Id="$(var.ProductUpgradeCode)">
      <UpgradeVersion Minimum="$(var.ProductVersion)" OnlyDetect="yes" Property="NEWESTVERSIONDETECTED" />
      <UpgradeVersion Minimum="0.0.0" Maximum="$(var.ProductVersion)" IncludeMinimum="yes" IncludeMaximum="no" Property="OLDERVERSIONBEINGUPGRADED" />
    </Upgrade>

    <Condition Message="A newer version of this software is already installed.">NOT NEWERVERSIONDETECTED</Condition>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="Terrafirma" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Terrafirma" />
      </Directory>
    </Directory>

    <DirectoryRef Id="INSTALLDIR">
      <Component Id="terrafirma.exe" Guid="9fcfa381-6ed4-4a7e-aebb-a27e10b0a022">
        <File Id="terrafirma.exe" Source="terrafirma.exe" KeyPath="yes" Checksum="yes">
          <Shortcut Id="ApplicationShortcut" Directory="ApplicationProgramsFolder" Advertise="yes" Name="Terrafirma" WorkingDirectory="INSTALLDIR" Icon="icon.exe">
            <Icon Id="icon.exe" SourceFile="terrafirma.ico" />
          </Shortcut>
        </File>
        <RemoveFolder Id="DeleteShortcutFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
      </Component>
    </DirectoryRef>

    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallValidate" />
    </InstallExecuteSequence>

    <Feature Id="DefaultFeature" Level="1">
      <ComponentRef Id="terrafirma.exe" />
    </Feature>

    <Property Id="WIXUI_INSTALLDIR">INSTALLDIR</Property>
    <UIRef Id="MyWixUI_InstallDir" />
  </Product>
</Wix>
