<?xml version="1.0"?>
<!-- Increase product version each release.. and that's the only change -->
<?define ProductVersion="1.0.0"?>
<?define ProductUpgradeCode="77851f13-31d3-473a-8654-5b6325fc53ab"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*"
		Name="Terrafirma" Language="1033" Version="$(var.ProductVersion)"
		Manufacturer="Sean Kasun"
		UpgradeCode="$(var.ProductUpgradeCode)">
		<Package Comments="Windows Installer Package"
		InstallerVersion="200" Compressed="yes" />
 <Media Id="1" Cabinet="terrafirma.cab" EmbedCab="yes" />
   <Icon Id="ProductIcon" SourceFile="Terrafirma/terrafirma.ico" />
     <Property Id="ARPPRODUCTICON" Value="ProductIcon" />
        <Property Id="ARPHELPLINK" Value="http://seancode.com/terrafirma" />
        <Property Id="ARPURLINFOABOUT" Value="http://seancode.com" />
         <Property Id="ARPNOREPAIR" Value="1" />
       <!--Property Id="ARPNOMODIFY" Value="1" -->
    
         <Upgrade Id="$(var.ProductUpgradeCode)">
           <UpgradeVersion Minimum="$(var.ProductVersion)" OnlyDetect="yes"
               Property="NEWESTVERSIONDETECTED" />
           <UpgradeVersion Minimum="0.0.0" Maximum="$(var.ProductVersion)"
              IncludeMinimum="yes" IncludeMaximum="no"
               Property="OLDERVERSIONBEINGUPGRADED" />
         </Upgrade>
        <Condition Message="A newer version of this software is already installed.">
     	NOT NEWERVERSIONDETECTED
         </Condition>
    
         <Directory Id="TARGETDIR" Name="SourceDir">
           <Directory Id="ProgramFilesFolder">
             <Directory Id="INSTALLDIR" Name="Terrafirma">
               <Component Id="ApplicationFiles"
                    Guid="9fcfa381-6ed4-4a7e-aebb-a27e10b0a022">
     			   <File Id="AppFile1"
                       Source="Terrafirma\bin\Release\Terrafirma.exe" />
              </Component>
             </Directory>
           </Directory>
          <Directory Id="ProgramMenuFolder">
            <Directory Id="ProgramMenuSubfolder" Name="Terrafirma">
               <Component Id="ApplicationShortcuts"
                   Guid="1ca398d1-d9bc-42a1-8d2a-50931f6441ca">
                 <Shortcut Id="ApplicationShortcut1" Name="Terrafirma"
                    Description="Terraria Map Viewer"
                    Target="[INSTALLDIR]Terrafirma.exe"
                    WorkingDirectory="INSTALLDIR" />
                 <RegistryValue Root="HKCU" Key="Software\Sean Kasun\Terrafirma"
                     Name="installed" Type="integer" Value="1" KeyPath="yes" />
                 <RemoveFolder Id="ProgramMenuSubfolder" On="uninstall" />
               </Component>
             </Directory>
           </Directory>
         </Directory>
         <InstallExecuteSequence>
           <RemoveExistingProducts After="InstallValidate" />
         </InstallExecuteSequence>
     
         <Feature Id="DefaultFeature" Level="1">
           <ComponentRef Id="ApplicationFiles" />
           <ComponentRef Id="ApplicationShortcuts" />
         </Feature>
         <Property Id="WIXUI_INSTALLDIR">INSTALLDIR</Property>
        <UI Id="WixUI_Minimal">
           <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
           <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
           <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />
           <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
           <Property Id="WixUI_Mode" Value="Minimal" />
           <DialogRef Id="ErrorDlg" />
           <DialogRef Id="FatalError" />
          <DialogRef Id="FilesInUse" />
           <DialogRef Id="MsiRMFilesInUse" />
           <DialogRef Id="PrepareDlg" />
           <DialogRef Id="ProgressDlg" />
           <DialogRef Id="ResumeDlg" />
           <DialogRef Id="UserExit" />
           <DialogRef Id="WelcomeDlg" />
     
           <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog"
               Value="PrepareDlg">1</Publish>
           <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog"
               Value="Return" Order="999">1</Publish>
           <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog"
               Value="MaintenanceTypeDlg">1</Publish>
           <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog"
               Value="MaintenanceTypeDlg">1</Publish>
           <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton"
               Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
           <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton"
               Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
           <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog"
               Value="MaintenanceWelcomeDlg">1</Publish>
           <Property Id="ARPNOMODIFY" Value="1" />
         </UI>
         <UIRef Id="WixUI_Common" />
       </Product>
    </Wix>