Source: terrafirma
Section: utils
Priority: extra
Maintainer: Sean Kasun <sean@seancode.com>
Build-Depends: debhelper (>= 11), qt6-base-dev, zlib1g-dev, cmake
Standards-Version: 4.1.4
Homepage: http://seancode.com/terrafirma/

Package: terrafirma
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Terraria mapping tool
 Terrafirma can display and explore your terraria worlds.
