<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Terrafirma.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Terrafirma.Properties.Settings>
            <setting name="LastServer" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPort" serializeAs="String">
                <value>7777</value>
            </setting>
            <setting name="FogOfWar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowWires" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowHouses" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Lighting" serializeAs="String">
                <value>0</value>
            </setting>
        </Terrafirma.Properties.Settings>
    </userSettings>
</configuration>